body {
	font-family: 'Inter', sans-serif;
	margin: 0;
	font-weight: 400;
	font-size: 20px;
	color: #636060;
}


*,
*::before,
*::after {
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}



.container {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
}

/* 
=============== Header ================ */
.header {
	background-color: #EDF2EC;
}

.navbar {
	width: 1220px;
	height: 50px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 67px 0;
}

.logo {
	display: flex;
	width: 79px;
	align-items: center;
}

.logo__text {
	font-family: 'Inika', serif;
	font-weight: 400;
	font-size: 16px;
	color: #000;
}

.nav__list {
	padding-left: 0;
	display: flex;
	width: 452px;
	justify-content: space-between;
	list-style: none;
	align-items: center;
}

.nav__link {
	font-family: 'Inika', serif;
	text-decoration: none;
	color:#010201;
	font-size: 16px;
	font-weight: 400;
	transition: color 0.2s;
	cursor: pointer;
}

.nav__link:hover {
	color: #E06733;
}

/* 
=============== Welcome ================ */
.section {
	background-color: #EDF2EC;
}

.welcome {
	width: 1220px;
	padding: 62px 0;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.welcome__img {
	width: 450px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.welcome__content {
	width: 547px;
	height: 340px;
	margin-top: 32px;
}

.welcome__title {
	font-weight: 700;
	color: #717171;
	margin-bottom: 40px;
	line-height: 1.2;
	margin-left: -4px;
	margin-top: 3px;
}

.welcome__title h1 {
	font-size: 45px;
}

.welcome__title b {
	color: #499A18;
}

.welcome__text {
	width: 526px;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.7;
	margin-bottom: 47px;
	margin-left: -4px;
}

.welcome__btn {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.2;
	text-transform: uppercase;
	color: #000;
	background-color: #EDF2EC;
	border: 2px solid #E06733;
	padding: 12px 23px;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.2s;
}

.welcome__btn:hover {
	background-color: #E06733;
	color: #EDF2EC;
}

/* 
=============== About ================ */
.section--white {
	background-color: #fff;
}

.about {
	width: 1220px;
	height: 479px;
	margin: 94px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about__content {
	width: 605px;
	height: 350px;
}

.about__title {
	width: 463px;
	margin-bottom: 40px;

	font-family: 'Inika', serif;
	color: #499A18;
}

.about__title h2 {
	font-size: 40px;
	font-weight: 400;
}

.about__title h2 span {
	color: #E06733;
}

.about__img {
	width: 464px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-top: -6px;
	margin-left: -8px;
}

.about__text {
	margin-top: -2px;
	line-height: 1.5;
}

/* 
=============== Service ================ */
.service {
	padding: 42px 0 121px 0;
}

/* 
content__top ================ */
.content__top {
	display: flex;
	align-items: center;
	width: 1007px;
	height: 94px;
	margin-left: 110px;
	margin-bottom: 84px;
}

.service__title {
	margin-right: 139px;
	width: 306px;

	font-family: 'Inika', serif;
	color: #499A18;
	font-size: 40px;
	font-weight: 400;
}

.service__btn {
	font-family: 'Inika', serif;
	font-weight: 400;
	font-size: 20px;
	margin-right: 38px;
	width: 161px;
	padding: 12px 40px;
	color: #E06733;
	background-color: #EDF2EC;
	border-radius: 5px;
	border: 1px solid #E06733;
	cursor: pointer;
	transition: background-color 0.2s;
}

.service__btn:last-child {
	margin-right: 0;
}

.service__btn:hover {
	background-color: #E06733;
	color: #EDF2EC; 
}

/* 
content__bottom ================ */
.content__bottom {
	width: 1220px;
	height: 955px;
	margin: 0 auto;
}

.grid__bottom {
	display: grid;
	grid-template-columns: repeat(3, 330px);
	grid-template-rows: repeat(3, 450px);
	column-gap: 115px;
	row-gap: 55px;
}

.services__item {
	width: 330px;
	height: 450px;
}

.services__img {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	margin-bottom: -5px;
}

.services__content {
	border: 1px solid #E3E1D5;
	border-top: 0;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.services__title {
	width: 100%;
	text-align: center;
	font-weight: 700;
	font-size: 20px;
	color: #E06733;
	margin-bottom: 10px;
	padding-top: 10px;
}

.services__text {
	font-size: 16px;
	width: 100%;
	text-align: center;
	padding-bottom: 36px;
}

/* 
=============== Prices ================ */
.prices {
	padding: 40px 0 115px 0;
}

.prices__wrapper {
	width: 1220px;
	height: 405px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

/* 
prices__accordion ================ */
.prices__accordion {
	width: 332px;
	height: 391px;
}

.prices__title {
	font-size: 40px;
	font-weight: 700;
	color: #000;
	margin-bottom: 60px;
}


.accordion__block {
	width: 332px;
	height: 282px;
	border: 1px solid #E3E1D5;
	border-radius: 20px;
}

.block__item {
	padding: 34px 41px;
}

.accordion__item {
	width: 250px;
	height: 50px;
	background-color: #EDF2EC;
	border-radius: 20px;
	margin-bottom: 32px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.accordion__text {
	font-size: 20px;
	font-weight: 700;
	color: #000;
	padding-left:  37px;
}

.accordion__img {
	width: 16px;
	height: 16px;
	margin-right: 40px;
}

.accordion__item:last-child {
	margin-bottom: 0;
}

/* 
prices__contacts ================ */
.prices__contacts {
	width: 452px;
	height: 191px;
	text-align: right;
}

.right__title {
	width: 452px;
	height: 103px;
	font-size: 40px;
	font-weight: 700;
	color: #000;
	line-height: 1.25;
	margin-bottom: 36px;
}

.right__title span {
	color: #499A18;
}

.prices__btn {
	font-family: 'Inika', serif;
	font-weight: 700;
	font-size: 20px;
	width: 162px;
	padding: 12px 30px;
	color: #E06733;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #E06733;
	cursor: pointer;
	transition: background-color 0.2s;
	margin-bottom: 39px;
}

.prices__btn:hover {
	background-color: #E06733;
	color: #EDF2EC; 
}

.prices__img {
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 152px;
	height: 175px;
	margin-left: 300px;
}

/* 
=============== Contacts ================ */
.contacts {
	padding-top: 51px;
}

.contacts__content {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 1220px;
	height: 500px;
	margin: 0 auto;
}

.woman__img {
	width: 400px;
	height: 497px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.contacts__position {
	position: absolute;
	left: 42%;
}

.contacts__title {
	width: 195px;
	font-family: 'Inika', serif;
	font-weight: 700;
	font-size: 40px;
	color: #499A18;
	margin-top: 10px;
}

.contacts__form {
	width: 450px;
	height: 50px;
	margin-left: 66px;
	margin-top: 95px;
	background-color: #D6E7D2;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

.form__text {
	font-size: 20px;
	font-weight: 400;
	width: 204px;
	height: 40px;
	padding: 5px 0 5px 20px;
}

.contacts__img {
	width: 16px;
	height: 16px;
	margin-right: 35px;
}

/* 
=============== Footer ================ */
footer {
	padding: 36px 109px;
}

.footer__content {
	display: flex;
	justify-content: space-between;
	width: 1220px;
	height: 50px;
	margin: 0 auto;
	align-items: center;
}

.footer__text1 {
	width: 182px;
	font-size: 20px;
	font-weight: 400;
	line-height: 2.5;
	color: #000;
}

.footer__text1 span {
	padding-left: 12px;
}

.footer__text1 a {
	padding-left: 25px;
	text-decoration: none;
	color: #000;
	transition: color 0.2s;
}

.footer__text1 a:hover {
	color: #636060;
}

.footer__text2 {
	width: 211px;
	font-size: 20px;
	font-weight: 400;
	text-decoration: none;
	color: #000;
	transition: color 0.2s;
}

.footer__text2:hover {
	color: #636060;
}

.footer__social {
	width: 183px;
	list-style: none;
	padding-left: 0;
	display: flex;
	justify-content: space-between;
}

.social__item a i {
	color: #000;
	text-decoration: none;
	font-size: 32px;
	transition: color 0.2s;
}

.social__item a i:hover {
	color: #636060;
}

/* font-family: 'Inika', serif;